In [45]:
import pandas as pd
import numpy as np

from datetime import datetime

import seaborn as sns
import matplotlib.pyplot as plt

In [46]:
df_customers = pd.read_csv("https://dojo-git.s3.eu-west-3.amazonaws.com/cleaned/customers.csv", sep = ";")
df_products = pd.read_csv("https://dojo-git.s3.eu-west-3.amazonaws.com/cleaned/products.csv", sep =";")
df_transactions = pd.read_csv("https://dojo-git.s3.eu-west-3.amazonaws.com/cleaned/Transactions.csv", sep = ";")

In [47]:
df_customers.head(10)

  client_id sex  birth
0    c_4410   f   1967
1    c_7839   f   1975
2    c_1699   f   1984
3    c_5961   f   1962
4    c_5320   m   1943
5     c_415   m   1993
6     c_285   f   1967
7     c_160   f   1978
8    c_6446   m   1971
9    c_6866   m   1993

In [48]:
df_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3286 entries, 0 to 3285
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id_prod  3286 non-null   object
 1   price    3286 non-null   float64
 2   categ    3286 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 77.1+ KB

In [49]:
df_transactions.head(10)

  id_prod                        date session_id client_id
0  0_1259  2021-03-01 00:01:07.843138        s_1     c_329
1  0_1390  2021-03-01 00:02:26.047414        s_2     c_664
2  0_1352  2021-03-01 00:02:38.311413        s_3     c_580
3  0_1458  2021-03-01 00:04:54.559692        s_4    c_7912
4  0_1358  2021-03-01 00:05:18.801198        s_5    c_2033
5  0_1073  2021-03-01 00:05:44.999018        s_6    c_4908
6  0_1304  2021-03-01 00:07:04.371179        s_7    c_1609
7   0_279  2021-03-01 00:07:48.507530        s_6    c_4908
8   1_445  2021-03-01 00:09:11.523122        s_8    c_7991
9   1_556  2021-03-01 00:10:20.265265        s_9    c_6171

In [50]:
df_transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 687534 entries, 0 to 687533
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   id_prod     687534 non-null  object
 1   date        687534 non-null  object
 2   session_id  687534 non-null  object
 3   client_id   687534 non-null  object
dtypes: object(4)
memory usage: 21.0+ MB

In [56]:
# fonction pour corriger la date, car certains haoraires ne sont pas au bon format, certains horiares donnent '24:' au lieu de '00:' :
def correct_date(date_str):
    if " 24:" in date_str:
        date_str = date_str.replace(" 24:", " 00:")
        corrected_date = pd.to_datetime(date_str) + pd.Timedelta(days=1)
    else:
        corrected_date = pd.to_datetime(date_str)
    return corrected_date

In [57]:
# Passer la date au format date
df_transactions['date'] = df_transactions['date'].apply(correct_date)

In [58]:
df_transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 687534 entries, 0 to 687533
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   id_prod     687534 non-null  object
 1   date        687534 non-null  datetime64[ns]
 2   session_id  687534 non-null  object
 3   client_id   687534 non-null  object
dtypes: datetime64[ns](1), object(3)
memory usage: 21.0+ MB

In [97]:
df

,client_id,id_prod,session_id,date,sex,birth,categ,price
0,c_329,0_1259,s_1,2021-03-01 00:01:07.843138,f,1967,0,11.99
1,c_329,0_1259,s_275943,2022-10-01 00:01:07.843138,f,1967,0,11.99
2,c_329,0_1259,s_305291,2022-12-01 00:01:07.843138,f,1967,0,11.99
3,c_329,0_1259,s_320153,2023-01-01 00:01:07.843138,f,1967,0,11.99
4,c_329,1_397,s_123998,2021-11-23 18:21:56.361813,f,1967,1,18.99
...,...,...,...,...,...,...,...,...
687529,c_7739,2_163,s_259828,2022-08-28 16:51:07.389515,m,1997,2,68.99
687530,c_7739,2_163,s_289331,2022-10-28 16:51:07.389515,m,1997,2,68.99
687531,c_712,1_64,s_136405,2021-12-18 20:54:25.725059,f,1967,1,19.81
687532,c_712,1_64,s_284469,2022-10-18 20:54:25.725059,f,1967,1,19.81
687533,c_4478,0_1692,s_90430,2021-09-15 19:42:08.596375,f,1970,0,13.36